{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <a href="{% url 'blog:home' %}" class="btn btn-dark">&larr; Volver al Inicio</a>
                </div>
                <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
        
        <!-- Sección de Comentarios -->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Comentarios</h5>
                <div class="card-body">
                    {% if comments %}
                        <h6>{{ comments.count }} Comentarios</h6>
                        {% for comment in comments %}
                        <div class="comment-sidebar mb-3">
                            <p class="font-weight-bold mb-0">
                                {{ comment.name }}
                                <small class="text-muted">
                                    {{ comment.created_on|date:"d/m/Y" }}
                                </small>
                            </p>
                            <p class="comment-text">{{ comment.body }}</p>
                            <hr>
                        </div>
                        {% endfor %}
                    {% endif %}

                    <!-- Formulario de Comentarios -->
                    <h6 class="mt-4">Dejar un comentario</h6>
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Tu comentario está esperando moderación
                        </div>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <button type="submit" class="btn btn-dark mt-2">Enviar</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}