{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" type="image/png" href="{% static 'portfolio/imagenes/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
</style>
</head>
<body>

<!-- Checkbox para el boton de windows -->
<input type="checkbox" id="toggle" hidden>


<!-- Este es el recuadro que abre el boton windows y que contiene las apps -->
<div class="cuadro_apps" >   

    <div class="Titulo">
      <h2>Mi Portfolio</h2>
    </div>

    <div class="Apps">  
      <button class="icono">
        <img src="{% static 'portfolio/imagenes/sobremi.png' %}" >
        <span>Sobre Mi</span>
      </button>

      <button class="icono" >
        <img src="{% static 'portfolio/imagenes/proyectos.png' %}" >
        <span>Proyectos</span>
      </button>

      <button class="icono" >
        <img src="{% static 'portfolio/imagenes/habilidades.png' %}" >
        <span>Habilidades</span>
      </button>

      <button class="icono" >
        <img src="{% static 'portfolio/imagenes/contacto.png' %}" >
        <span>Contacto</span>
      </button>


      
    </div>

    <div class="Apps2">
      <button class="icono">
        <img src="{% static 'portfolio/imagenes/blog.png' %}" >
        <span>Blog</span>
      </button>
    </div>

    <!-- Boton para cambiar el tema -->
    <div class="boton_tema">
      <div class="sol"><img src="{% static 'portfolio/imagenes/sol.png' %}"></div>
      <input type="checkbox" id="cambio-tema" hidden>

      <label for="cambio-tema" class="forma">
        <div class="circulo"></div>
      </label>
      <div class="luna"><img src="{% static 'portfolio/imagenes/luna.png' %}"></div>
    </div>

  </div>





<!-- Aca defino las 4 ventanas principales de la pagina -->

<!-- Ventana Sobre Mí -->
<div class="ventana" id="ventana-sobremi">
  <!-- Barra superior de la ventana con la cruz para cerrarla-->
  <div class="barra-arriba">
    <div class="icono2"><img src="{% static 'portfolio/imagenes/sobremi.png' %}"></div>
    <h2 class="texto-sobremi">Sobre Mí</h2>
    <div class="boton_x" onclick="cerrarVentana('ventana-sobremi')">X</div>
  </div>

  <!-- Decoración con circulos de luz -->
  <div class="circulo-decorativo circulo1"></div>
  <div class="circulo-decorativo circulo2"></div>

  <!-- Contenido de la ventana Sobre Mí -->
  <div class="contenido-sobremi">
    <h2>Sobre mí</h2>
    <p>
      ¡Hola! Soy <span class="highlight">Fabrizio</span>, estudiante del <span class="highlight">Instituto Industrial Luis A. Huergo</span>.
      Me apasiona la programación, la tecnología y resolver problemas de forma creativa.
      Tengo conocimientos en <span class="highlight">HTML, CSS, Python</span> y sigo aprendiendo cada día para convertirme en desarrollador.
      Me gusta construir cosas útiles, experimentar con ideas nuevas y colaborar en proyectos que sumen.
    </p>
    <a href="{% static 'portfolio/miCV.pdf' %}" target="_blank" class="descarga-cv">Descarga mi CV</a>
    <div class="redes">
      

      <a href="https://github.com/Fabrigiorda" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>

      <a href="https://instagram.com" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png" alt="Instagram">
      </a>
      
    </div>
  </div>


</div>








<!-- Ventana Proyectos -->

<div class="ventana" id="ventana-proyectos">

  <!-- Barra superior de la ventana con la cruz para cerrarla-->
  <div class="barra-arriba">
    <div class="icono2"><img src="{% static 'portfolio/imagenes/proyectos.png' %}"></div>
    <h2 class="texto-proyectos">Proyectos</h2>
    <div class="boton_x" onclick="cerrarVentana('ventana-proyectos')">X</div>
  </div>
  
  <!-- Decoración con circulos de luz -->
  <div class="circulo-decorativo circulo1"></div>
  <div class="circulo-decorativo circulo2"></div>

  <!-- Contenido de la ventana Proyectos -->
  <div class="contenido-proyectos">
    <h2>Mis Proyectos</h2>

    <!-- Carrusel que contiente los proyectos proyectos -->
    <div class="carrusel">

      <!-- Flechas para navegar por el carrusel -->
      <button class="flecha flecha-izq" title="Anterior">‹</button>

      <div class="carrusel-ventana">
        <div class="carrusel-pista">

          <!-- Cada cuadrado representa un proyecto con su información -->
          <div class="cuadrados">
            <button class="boton-repo info"><img src="{% static 'portfolio/imagenes/info.png' %}" alt="info-repo-portfolio" class="info-imagen"></button>
            <a href="https://github.com/Fabrigiorda/fabrigiorda.github.io" target="_blank" class="boton-repo github"><img src="{% static 'portfolio/imagenes/github.png' %}" alt="repo-portfolio" class="github-imagen"></a>
            <div>
              <div class="proyecto-titulo">Portfolio Web</div>
              <img src="{% static 'portfolio/imagenes/web.png' %}" alt="img-web" class="proyecto-imagen">
              <div class="proyecto-descripcion">Mi sitio web personal creado con HTML, CSS y JavaScript</div>
            </div>
          </div>


          <div class="cuadrados">
            <button class="boton-repo info"><img src="{% static 'portfolio/imagenes/info.png' %}" alt="info-repo-calculadora" class="info-imagen"></button>
            <a href="https://github.com/Fabrigiorda/Calculadora" target="_blank" class="boton-repo github"><img src="{% static 'portfolio/imagenes/github.png' %}" alt="repo-calculadora" class="github-imagen"></a>
            <div class="contenido-proyecto">
              <div class="proyecto-titulo">Calculadora</div>
              <img src="{% static 'portfolio/imagenes/calculadora.png' %}" alt="img-calculadora" class="proyecto-imagen">
              <div class="proyecto-descripcion">Calculadora funcional con interfaz moderna</div>
            </div>
          </div>


          <div class="cuadrados">
            <button class="boton-repo info"><img src="{% static 'portfolio/imagenes/info.png' %}" alt="info-repo-preguntados" class="info-imagen"></button>
            <a href="https://github.com/Fabrigiorda/Preguntados" target="_blank" class="boton-repo github"><img src="{% static 'portfolio/imagenes/github.png' %}" alt="repo-preguntados" class="github-imagen"></a>
            <div>
              <div class="proyecto-titulo">Preguntados</div>
              <img src="{% static 'portfolio/imagenes/preguntados.png' %}" alt="img-preguntados" class="proyecto-imagen">
              <div class="proyecto-descripcion">Juego estilo preguntados con sistema de puntos</div>
            </div>
          </div>


          <div class="cuadrados">
            <button class="boton-repo info"><img src="{% static 'portfolio/imagenes/info.png' %}" alt="info-repo-spaceinvaders" class="info-imagen"></button>
            <a href="https://github.com/Fabrigiorda/Space-invaders" target="_blank" class="boton-repo github"><img src="{% static 'portfolio/imagenes/github.png' %}" alt="repo-spaceinvaders" class="github-imagen"></a>
            <div>
              <div class="proyecto-titulo">Space Invaders</div>
              <img src="{% static 'portfolio/imagenes/logo.png' %}" alt="img-space-invaders" class="proyecto-imagen">
              <div class="proyecto-descripcion">Juego como el space invaders pero version LEGO</div>
            </div>
          </div>


          <div class="cuadrados">
            <button class="boton-repo info"><img src="{% static 'portfolio/imagenes/info.png' %}" alt="info-repo-photoshop" class="info-imagen"></button>
            <a href="https://github.com/Fabrigiorda/Trabajos-Photoshop" target="_blank" class="boton-repo github"><img src="{% static 'portfolio/imagenes/github.png' %}" alt="repo-photoshop" class="github-imagen"></a>
            <div>
              <div class="proyecto-titulo">Photoshop</div>
              <img src="{% static 'portfolio/imagenes/photoshop.png' %}" alt="img-photoshop" class="proyecto-imagen">
              <div class="proyecto-descripcion">Repositorio con todos mis trabajos de photoshop</div>
            </div>
          </div>

          <!-- Puedes agregar más proyectos aquí siguiendo el mismo formato -->
          <div class="cuadrados">
            <div>
              <div class="proyecto-titulo"></div>
              <div class="proyecto-descripcion"></div>
            </div>
          </div>

        </div>
      </div>
      <button class="flecha flecha-der" title="Siguiente">›</button>
    </div>
  </div>
</div>



<!-- Ventana Habilidades -->

<div class="ventana" id="ventana-habilidades">

  <!-- Barra superior de la ventana con la cruz para cerrarla-->
  <div class="barra-arriba">
    <div class="icono2"><img src="{% static 'portfolio/imagenes/habilidades.png' %}"></div>
    <h2 class="texto-habilidades">Habilidades</h2>
    <div class="boton_x" onclick="cerrarVentana('ventana-habilidades')">X</div>
  </div>
  
  <!-- Decoración con circulos de luz -->
  <div class="circulo-decorativo circulo1"></div>
  <div class="circulo-decorativo circulo2"></div>

  <!-- Contenido de la ventana Habilidades -->
  <div class="contenido-habilidades">
    <h2>Mis Habilidades</h2>
    <div class="cuadros-habilidades">

      <!-- Cada cuadro representa una habilidad con su icono y descripción -->
      <div class="cuadro-habilidad">
        <i class="fab fa-html5 fa-3x"></i>
        <h3>HTML</h3>
        <p>Conocimiento básico de HTML5</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fab fa-css3-alt fa-3x"></i>
        <h3>CSS</h3>
        <p>Conocimiento básico de CSS3</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fab fa-js fa-3x"></i>
        <h3>JavaScript</h3>
        <p>Conocimiento básico de JavaScript</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fab fa-python fa-3x"></i>
        <h3>Python</h3>
        <p>Conocimiento básico de Python</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fa-solid fa-image fa-3x"></i>
        <h3>Photoshop</h3>
        <p>Edición de imágenes</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fa-solid fa-video fa-3x"></i>
        <h3>Edición de Video</h3>
        <p>Edición y montaje de videos</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fa-solid fa-database fa-3x"></i>
        <h3>MySQL</h3>
        <p>Gestión de bases de datos</p>
      </div>


      <div class="cuadro-habilidad">
        <i class="fab fa-git-alt fa-3x"></i>
        <h3>Git</h3>
        <p>Control de versiones y colaboración</p>
      </div>


    </div>
  </div>
</div>



<!-- Ventana Contacto -->
<div class="ventana" id="ventana-contacto">
  <div class="barra-arriba">
    <div class="icono2"><img src="{% static 'portfolio/imagenes/contacto.png' %}"></div>
    <h2 class="texto-contacto">Contacto</h2>
    <div class="boton_x" onclick="cerrarVentana('ventana-contacto')">X</div>
  </div>

  <div class="circulo-decorativo circulo1"></div>
  <div class="circulo-decorativo circulo2"></div>

  <div class="contenido-sobremi">
    <h2>Contáctame</h2>
    
    

    <form id="formulario-contacto" class="formulario-contacto">
      <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
      <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
      <textarea id="mensaje" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>



<div class="ventana" id="ventana-blog">
  <div class="barra-arriba">
    <div class="icono2"><img src="{% static 'portfolio/imagenes/blog.png' %}"></div>
    <h2 class="texto-blog">Blog</h2>
    <div class="boton_x" onclick="cerrarVentana('ventana-blog')">X</div>
  </div>
</div>



<!-- Ventanas de información para cada proyecto -->


<div class="ventanaInfo" id="ventanaInfo-portfolio">
  <div class="boton_x2" onclick="cerrarVentanaInfo('ventanaInfo-portfolio')">X</div>
  <h2>Portfolio Web</h2>
  <p>Mi sitio web personal creado con HTML, CSS y JavaScript. Aquí muestro mis proyectos, habilidades y experiencia.</p>
</div>

<div class="ventanaInfo" id="ventanaInfo-calculadora">
  <div class="boton_x2" onclick="cerrarVentanaInfo('ventanaInfo-calculadora')">X</div>
  <h2>Calculadora</h2>
  <p>Calculadora funcional con interfaz moderna. Permite realizar operaciones matemáticas básicas como suma, resta, multiplicacion, division y porcentaje.</p>

</div>

<div class="ventanaInfo" id="ventanaInfo-preguntados">
  <div class="boton_x2" onclick="cerrarVentanaInfo('ventanaInfo-preguntados')">X</div>
  <h2>Preguntados</h2>
  <p>Lenguaje: Python/PyGame <br><br>
Año: 2024 <br><br>

Descripcion: Proyecto realizado para 3er año de Nivel Secundario, en el cual se nos pide utilizar la libreria PyGame para realizar un juego que luego fue expuesto en la ExpoHuergo 2025. <br><br>
Cosas a destacar: Poder haber empleado un sistema de Backend por primera vez, utilizar PyGame por primera vez, trabajar con el manejo de datos, el trabajo en equipo, entre otras cosas, hicieron que quiera destacar este proyecto (el primero de gran importancia en mi carrera como estudiante y como profesional. <br> </p>
</div>

<div class="ventanaInfo" id="ventanaInfo-space">
  <div class="boton_x2" onclick="cerrarVentanaInfo('ventanaInfo-space')">X</div>
  <h2>Space Invaders</h2>
  <p>Juego como el space invaders pero version LEGO. Dispara a los enemigos y evita que lleguen a la parte inferior de la pantalla.</p>
</div>

<div class="ventanaInfo" id="ventanaInfo-photoshop">
  <div class="boton_x2" onclick="cerrarVentanaInfo('ventanaInfo-photoshop')">X</div>
  <h2>Photoshop</h2>
  <p>Repositorio con todos mis trabajos de photoshop. Incluye ediciones de imágenes, creaciones gráficas y más.</p>
</div>









<!-- Barra de tareas con el boton windows-->
<div class="barra">
  <label for="toggle" class="boton_windows">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Windows_logo_-_2021.svg">
  </label>
</div>






<script src="{% static 'portfolio/script.js' %}"></script>



</body>
</html>